.cart-dropdown {
    position: absolute;
    width: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid rgb(216, 214, 214);
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(36, 31, 31, 0.5);
    top:130px;
    right: 50px;
    //z-index: 5;
    opacity: 1;
    
   .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-width: thin;

        .cart-item {
            &:hover {
                background-color: whitesmoke;
                cursor: pointer;
            }
        }
    }

    button {
        margin-top: auto;
    }

}