.collections-overview {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: -80vh;
    margin-top: 8vh;
    //margin-right: auto;
    //margin-left: auto;
    //margin: 8vh 0 -80vh 0;
    //justify-content: center;
    //align-items: center;
    //width: 100vw;

    // ::-webkit-scrollbar {
    //     width: thin;
    // }
}