.collections-overview {
    display: flex;
    flex-direction: column;
    display: flex;
    margin-bottom: -80vh;
    margin: 9.4px 0 -80vh 10.4%;
    width: 100vw;

    // ::-webkit-scrollbar {
    //     width: thin;
    // }
}