   .collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100vw;
    //padding: 0 15%;

    .title {
        position: relative;
        margin: 12px 0 30px -12px;
        width: 100%;
        left: -7.5vw;
        .view-all {
            display: flex;
            position: absolute;
            font-size: 16px;
            
            &:hover {
                color: maroon !important;
            }
        }
    }
    
    // .items {
    //     width: 80%;
    //     display: grid;
    //     grid-template-columns: repeat(4, 1fr);
    //     place-content: center;
    //     gap: 20px;

    //     &.collection-item {
    //         padding-bottom: 30px;
    //     }
    // }

    .preview {
        width: 77%;
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        place-content: center;
        gap: 10px;
    }
} 