   .collection-preview {
    width: 100vw;
    padding: 0 5.5%;

    .title {
        position: relative;
        margin: 12px 0 30px 0;
        width: 100%;

        .view-all {
            display: flex;
            position: absolute;
            font-size: 20px;
            
            &:hover {
                color: maroon !important;
            }

            @media only screen and (max-width: 600px) {
                font-size: 16px;
            }
        }
    }

    .preview {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
        //gap: .5em;

        @media only screen and (max-width: 800px) {
            width: 92.5vw;
        }
    }
} 