.sign-up {
    display: flex;
    flex-direction: column;
    width: 400px;

    .title {
        margin: 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-items: space-between;
        gap: 10px;
    }

}