.checkout-item {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 100px;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease-in-out;

  .image-container {
    width: 23%;
    padding-right: 15px;
    height: 100px;

    img {
      height: 100%;
      width: 70%;
    }

  }
  .name,
  .quantity,
  .price {
    position: absolute;
    width: 23%;
    left: 23%;
  }

  .quantity {
    display: absolute;
    width: 23%;
    padding-left: 5px;
    left: 45%;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
      border: 1px solid darkgrey;

    }

    .value {
      display: flex;
      text-align: center;
      margin: 0 15px;
      width: 60px;
      background-color: white;
    }
  }

  .price {
    position: absolute;
    left: 69.5%;
  }

  .remove-button {
    padding-right: 19px;
    cursor: pointer;

    .trash-icon {
        width: 30px;
        height: 30px
    }

    &:hover {
      color: maroon;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }  

  &:last-child {
    border-bottom: 1px solid darkgrey;
  }
}
