*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif !important;
  font-family: 'Oi', cursive;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  overflow-x: hidden;
}

body .fat-face {
  font-family: 'Oi', cursive;
  text-shadow: -1px -1px 0 grey;
  text-shadow: 1px 1px 0 black;
 }

 body .maroon {
    color: maroon;
 }

 body .strong {
  font-weight: bolder;
}

body h1 {
  font-size: clamp(3rem, 5vw, 6rem);
}

body h2 {
  font-size: clamp(1.4rem, 4vw, 5rem);
}

body h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}


p, span {
  font-size: clamp(0.8rem, 1vw, 1.5rem);

}



a {
  color: black;
  text-decoration: none !important;
}
