*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
}

a {
  color: black !important;
  text-decoration: none !important;

}




/* @import "~bootstrap/scss/bootstrap"; */