* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed' !important;
  padding: 0px 60px;
}

a {
  color: black !important;
  text-decoration: none !important;

}

/* @import "~bootstrap/scss/bootstrap"; */